@if (isLoading$ | async) {
  <div class="user-detail__loading">
    <div class="user-detail__loading-spinner"></div>
    <p class="user-detail__loading-text">Loading user details...</p>
  </div>
} @else if ((errorMessage$ | async)){
  <div class="user-detail__empty">
    <p class="user-detail__empty-text">{{ errorMessage$ | async }}</p>
    <a [routerLink]="['/']" class="user-detail__empty-home">Go Home</a>
  </div>
} @else {
  <div class="user-detail__container">
    <div class="user-detail__header">
      <button
        (click)="goBack()"
        class="user-detail__header-back"
      >
        ← Back
      </button>
    </div>

    <div class="user-detail__card">
      <div class="user-detail__info">
        <h1 class="user-detail__info-name">{{ (user$ | async)?.name | emptyValue }}</h1>
        <div class="user-detail__info-website">
          @if ((user$ | async)?.website) {
          <a
            [href]="(user$ | async)?.website"
            target="_blank"
            class="user-detail__info-website-link"
          >
            {{ (user$ | async)?.website }}
          </a>
          }
        </div>
      </div>

      <div class="user-detail__grid">
        @if ((user$ | async)?.email) {
          <div>
            <p class="user-detail__field-label">Email</p>
            <a
              [href]="'mailto:' + (user$ | async)?.email"
              class="user-detail__field-value user-detail__field-link"
            >
              {{ (user$ | async)?.email }}
            </a>
          </div>
        }
        <div>
          <p class="user-detail__field-label">Phone</p>
          <p class="user-detail__field-value">{{ (user$ | async)?.phone | emptyValue }}</p>
        </div>
        <div>
          <p class="user-detail__field-label">Address</p>
          <p class="user-detail__field-value">
            {{ (user$ | async)?.address?.street | emptyValue }}, {{ (user$ | async)?.address?.suite | emptyValue }}, {{ (user$ | async)?.address?.city | emptyValue }}, {{ (user$ | async)?.address?.zipcode | emptyValue }}
          </p>
        </div>
        <div>
          <p class="user-detail__field-label">Work at</p>
          <p class="user-detail__field-value">
            {{ (user$ | async)?.company?.name | emptyValue }}
          </p>
          @if ((user$ | async)?.company?.catchPhrase || (user$ | async)?.company?.bs) {
            <p class="user-detail__field-value user-detail__quote">
              "{{ (user$ | async)?.company?.catchPhrase || (user$ | async)?.company?.bs }}"
            </p>
          }
        </div>
      </div>
    </div>
  </div>
}